body {
    background-color: beige;
}

.container {
    text-align: center;
    display: block;
    width: 100%;
}

.info ul, .ingredients ul {
    display: inline-block;
    text-align: left;
}

.directions p {
    margin: 0 25px 0 25px;
}